
#bx1 {
	background-color: red;
}
#bx2 {
	background-color: rgb(75, 149, 235);
}
#bx3 {
	background-color: green;
}
#bx4 {
	background-color: yellow;
}
#bx5 {
	background-color: silver;
}