@import url("desk.css") screen;
@import url("mobile.css") screen and (min-width: 600px);
@import url("tablet.css") screen and (min-width: 1000px);

.outline {
	display: block;
	font-size: 18pt;
	font-weight: normal;
	margin: 10px 0px;
	padding: 10px 0px ;
	height: 100px;
	background-color: white;
	border: thick solid purple;
	width: 99%;
	text-align: center;
}
.stext {
	font-family: Georgia;
	font-weight: bold;
	color: purple; 
	font-size: 20pt;
	text-align: center;
}